/* Import Trekkie Font for logo */

/* Font courtesy of font Face - https://www.fontspace.com/category/star-trek */
@font-face {
    font-family: 'Star Trek Enterprise Future';
    src: url('../../StarTrekEnterpriseFuture-Italic.woff2') format('woff2'),
        url('../../StarTrekEnterpriseFuture-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/* Import fonts from google fonts for main body */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Rambla:ital@0;1&display=swap');

/* Logo */

/* To ensure boxes display properly (Web Dev Simplified) */
*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    background-color: black;
    --logo-font: "Star Trek Enterprise Future";
    --heading-font: 'Rambla', sans-serif;
    --off-yellow: rgb(252, 252, 189);
    --light-grey:lightgray;
    --hue-correct: 7,200,0;
    --hue-incorrect:224,0,0;
    --hue-neutral: 0,138,201;
    --hue-eighty: 172, 179, 52;
    --hue-sixty: 250, 183, 51;
    --hue-fourty: 255, 142, 21;
    --hue-twenty: 255, 78, 17;
    --hue-footer-icons: 80, 126, 156;
}

body {
    background-color: var(--off-white);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0,.05),rgba(0,0,0,.5)), url(../images/background2.jpeg);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position:relative;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    text-transform: uppercase;
}

h1 {
    text-align: center;
}

/*Nav bar */

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    height: 100%;
}

/* Flex to display nav list horizontally */

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    padding: .5rem;
    margin-right:1rem;
}

.navbar-links a:hover {
    background-color:grey;
    color: var(--off-yellow);
}

/* Burger icon nav */

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--off-yellow);
    border-radius: 10px;
}

.active:after{
    display: block;
    text-align: center;
    width:100%;
    height:40px;
    background-image: url(../images/spaceman-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
    content:'';
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
        margin: .75rem;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    .navbarlinks i {
        display:none;
    }

    .bk-clear {background-color: rgba(255, 255, 255, 0);
    border:none;}

    .active:after {
        display:none;
    }
}
/*Styling Logo text*/

#logo a {
    font-family: var(--logo-font);
    font-size: 50px;
    font-family: "Star Trek Enterprise Future";
    color: var(--off-yellow);
    margin-left: 10px;
}

/* Main Text */

#main-container {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 50px 10px;
    height:80vh;
}

#main-content {
    width: 320px;
    max-width: 80%;
    text-justify: center;
}

@media (min-width:768px) {
#main-content {
    width: 600px;
}

#main-content p {
    font-size: 1.2rem;
}
#main-content h1 {
    padding: 0 0 50px;
}
}

/* Footer Styling */

footer {
    position: absolute;
    bottom: 0;
    width:100%;
}

#footer-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding:10px;
}

.social-media ul {
    display: flex;
    list-style-type: none;
    justify-content:space-evenly;
    padding: 0;
    margin: 0;
    width: 120px;
}

.social-media a {
    text-decoration: none;
    color:rgb(var(--hue-footer-icons));
}

/* Quiz Outer Styling */

#quiz-outer {
    width: 90%;
    margin:auto;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    --hue: var(--hue-neutral);
    background-color: rgba(var(--hue),.5);
    border-radius: 20px;
    padding:20px;
}


.ship-container {
    display:none;
    align-items: center;
    width:33%;
    height: 800px;
}

@media (min-width:769px){
    .ship-container {
        display: flex;
    }
}

.ship-container img {
    width:100%;
    margin: 20px;
}

/* Classes assigned for correct and incorrect - to be called by js later */

#quiz-outer.correct {
    --hue: var(--hue-correct);
}

#quiz-outer.incorrect {
    --hue: var(--hue-incorrect);
}

/* Style for questions container */

.quiz-container {
    width: 400px;
    max-width: 95%;
    background-color: rgb(194, 179, 178);
    border-radius: 20px;
    padding: 20px;
}

.scores-wrapper {
    width: 100%;
    display: flex;
    margin:0 auto 25px;
    justify-content: space-between;

}

.your-score-inner {
    display: flex;
    flex-direction: column;
    justify-content:right;
}

.your-score-inner>p {
    text-align: left;
}

.enemy-score-inner {
    display: flex;
    flex-direction: column;
    align-items:self-end;
}

.enemy-score-inner>p {
    text-align:right;
}

.shields-result {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius:50%;
    --hue: var(--hue-correct);
    background-color:rgb(var(--hue));
}

.shields-result.incorrect{
    --hue:var(--hue-incorrect);
}

.shields-result.eighty{
    --hue:var(--hue-eighty);
}

.shields-result.sixty{
    --hue:var(--hue-sixty);
}

.shields-result.fourty{
    --hue:var(--hue-fourty);
}

.shields-result.twenty{
    --hue:var(--hue-twenty);
}

.shields-result.incorrect{
    --hue: var(--hue-incorrect);
}

.answers-grid{
    display:grid;
    gap:10px;
    margin: 20px 0;
}

@media (min-width: 560px){
    .answers-grid{
        grid-template-columns: repeat(2,auto);
    }
}

@media (max-width: 560px){
    .sm{
        display:none;
    }
}

/*Button Styling*/

.btn-quiz {
    --hue: var(--hue-neutral);
    background-color: rgba(var(--hue),.5);
    border: 1px solid black;
}

.btn-quiz:hover {
    color: var(--off-yellow);
}

.btn-quiz.correct {
    --hue: var(--hue-correct);
}

.btn-quiz.incorrect {
    --hue: var(--hue-incorrect);
}

.controls-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display:none;
}

._404-outer {
    display: flex;
    align-items:center;
    justify-content: center;
    height:90vh;
}

._404-container{
    width: 600px;
    max-width: 80%;
}

._404-container p, ._404-container h2 {
    padding: 50px 0;
    font-size: 1.5rem;
}

/* Contact form */

.contact-outer {
    display:none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100vw;
    flex-direction: column;
    position:fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0,.05),rgba(0,0,0,.5)), url(../images/contact-bk.jpeg);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}

#contact-form-outer h1 {
    font-family: 'Star Trek Enterprise Future';
    color: var(--off-yellow);
    font-size: 50px;
    text-decoration: underline;
}

#contact-inner {
    display:flex;
    align-items: center;
    justify-content: center;
}

#contact-img-container {
    background-image: url(../images/star-trek-communicator.webp);
    width:300px;
    background-position: center center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    height:500px;
    background-size: contain;
}

#contact-form {
    width:320px;
    font-size: 1.5rem;
}

#contact-launch {
    --hue: var(--hue-footer-icons);
    background-color:rgb(var(--hue));
    border:none;
}

@media (max-width: 768px) {
    #contact-img-container {
        display: none;
}
    #contact-form{
        margin-left:10%;
        margin-right: 10%;
    }
}

.btn.contact-btn{
    --hue: var(--off-yellow);
    background-color: var(--hue);
    border: 1px solid black;
    width: 200px;
}

.btn.contact-btn:hover {
    color: rgba(var(--hue-neutral),.99);
    border: 1px solid black;
    font-weight: bold;
}

.btn.contact-btn.ack {
    max-width: 30%;
    margin:0 35%;
}

.sol-holder {
    width:500px;
    align-items: center;
    justify-content: center;
    height:400px;
    margin:auto;
}


.sol-outer {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#iframe-holder {
    display:none;
}

@media (min-width:769px){
    #earth-holder {
        display:none;
    }
    #iframe-holder {
        display:flex;
    }
}

#about-main-container {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 50px 10px;
}

#about-main-content {
    width:560px;
    max-width:80%;
}

#sol-container {
    display: flex;
}

.caption {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   margin: 0;
}
.imgwrap {
   flex: 1 1 40%;  /*grow | shrink | basis */
}
.imgwrap img {
    display: block;
     width: 100%;
     max-width: 800px; /*actual image width*/
     height: auto; /* maintain aspect ratio*/
     margin: auto; /*optional centering of image*/
}

#reload {
    width: 600px;
    height:500px
}

.imgwrap iframe {
    display: block;
     width: 100%;
     max-width: 800px; /*actual image width*/
     height: auto; /* maintain aspect ratio*/
     margin: auto; /*optional centering of image*/
}

@media (min-width: 768px) {
    .large {
        display:none;
    }
}