/* Import Trekkie Font for logo */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Rambla:ital@0;1&display=swap');

/* Font courtesy of font Face - https://www.fontspace.com/category/star-trek */
@font-face {
    font-family: 'Star Trek Enterprise Future';
    src: url('../fonts/StarTrekEnterpriseFuture-Italic.woff2') format('woff2'),
        url('../fonts/StarTrekEnterpriseFuture-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/* Logo */

/* To ensure boxes display properly (Web Dev Simplified) */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Set root values for body and quiz items */
:root {
    background-color: black;
    --logo-font: "Star Trek Enterprise Future";
    --heading-font: 'Rambla', sans-serif;
    --off-yellow: rgb(252, 252, 189);
    --light-grey:light gray;
    --hue-correct: 7,200,0;
    --hue-incorrect:224,0,0;
    --hue-neutral:0,138,201;
    --hue-eighty:172,179,52;
    --hue-sixty:250,183,51;
    --hue-fourty:255,142,21;
    --hue-twenty:255,78,17;
    --hue-footer-icons:48, 109, 150;
}

/* Body default styling */
body {
    background-color: var(--off-white);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0,.05),rgba(0,0,0,.5)), url(../images/background2.jpeg);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position:relative;
}

/* Set default heading fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    text-transform: uppercase;
}

h1 {
    text-align: center;
}

/*Nav bar */

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    height: 100%;
}

/* Flex to display nav list horizontally */

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}
/* Remove list style */
.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    padding: .5rem;
    margin-right:1rem;
}

.navbar-links a:hover {
    background-color:grey;
    color: var(--off-yellow);
}

/* Burger icon nav */

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--off-yellow);
    border-radius: 10px;
}
/* To display spaceman on current page */
.active:after{
    display: block;
    text-align: center;
    width:100%;
    height:40px;
    background-image: url(../images/spaceman-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
    content:'';
}
/* Media query to diplay burger on smaller screens */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
        margin: .75rem;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    .navbarlinks i {
        display:none;
    }

    .bk-clear {background-color: rgba(255, 255, 255, 0);
    border:none;}

    .active:after {
        display:none;
    }
}
/*Styling Logo text*/
#logo a {
    font-family: var(--logo-font);
    font-size: 50px;
    font-family: "Star Trek Enterprise Future";
    color: var(--off-yellow);
    margin-left: 10px;
}

/* Main Text */
#main-container {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 50px 10px;
    height:80vh;
}
/* Centered box for main text */
#main-content {
    width: 320px;
    max-width: 80%;
}
/* Media query for smaller screens */
@media (min-width:768px) {
#main-content {
    width: 600px;
}

#main-content p {
    font-size: 1.2rem;
}
#main-content h1 {
    padding: 0 0 50px;
}
}

/* Footer Styling */

footer {
    bottom: 0;
    width:100%;
}
/*Used to position footer on quiz page for smaller screens */
.footer-outer {
    position: absolute;
}
/*Flex container for footer */
#footer-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding:10px;
}

/* Flex to diplay list horizontally */
.social-media ul {
    display: flex;
    list-style-type: none;
    justify-content:space-evenly;
    padding: 0;
    margin: 0;
    width: 120px;
}

/* Set coloring for social icons */
.social-media a {
    text-decoration: none;
    --hue: var(--hue-footer-icons);    
    color: rgb(var(--hue));
}

.social-media a:hover{
    color: var(--off-yellow);
}

/* Quiz Outer Styling */

#quiz-outer {
    width: 90%;
    margin:auto;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    --hue: var(--hue-neutral);
    background-color: rgba(var(--hue),.5);
    border-radius: 20px;
    padding:20px;
}

/* Ship start hidden - changed dynamically with js */
.ship-container {
    display:none;
    align-items: center;
    width:33%;
    height: 800px;
}

@media (min-width:769px){
    .ship-container {
        display: flex;
    }
}

.ship-container img {
    width:100%;
    margin: 20px;
}

/* Classes assigned for correct and incorrect - to be called by js later */

#quiz-outer.correct {
    --hue: var(--hue-correct);
}

#quiz-outer.incorrect {
    --hue: var(--hue-incorrect);
}

/* Style for questions container */

.quiz-container {
    width: 400px;
    max-width: 95%;
    background-color: lightgrey;
    border-radius: 20px;
    padding: 20px;
    color:black;
}
/*Container for scores*/
.scores-wrapper {
    width: 100%;
    display: flex;
    margin:0 auto 25px;
    justify-content: space-between;
}
/*Styling for scores inner */
.your-score-inner {
    display: flex;
    flex-direction: column;
    justify-content:right;
}

.your-score-inner>p {
    text-align: left;
}

.enemy-score-inner {
    display: flex;
    flex-direction: column;
    align-items:self-end;
}

.enemy-score-inner>p {
    text-align:right;
}

/*Classes for shields to change dynamically with js by class append*/
.shields-result {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius:50%;
    --hue: var(--hue-correct);
    background-color:rgb(var(--hue));
}

.shields-result.incorrect{
    --hue:var(--hue-incorrect);
}

.shields-result.eighty{
    --hue:var(--hue-eighty);
}

.shields-result.sixty{
    --hue:var(--hue-sixty);
}

.shields-result.fourty{
    --hue:var(--hue-fourty);
}

.shields-result.twenty{
    --hue:var(--hue-twenty);
}

.shields-result.incorrect{
    --hue: var(--hue-incorrect);
}
/*grid to hold answer buttons created by js quiz */
.answers-grid{
    display:grid;
    gap:10px;
    margin: 20px 0;
}
/*Change grid layout on small screens */
@media (min-width: 560px){
    .answers-grid{
        grid-template-columns: repeat(2,auto);
    }
}
/*Hide content on small screens */
@media (max-width: 560px){
    .sm{
        display:none;
    }
}

/*Button Styling*/

.btn-quiz {
    --hue: var(--hue-neutral);
    background-color: rgba(var(--hue),.5);
    border: 1px solid black;
}

.btn-quiz:hover {
    color: var(--off-yellow);
}

.btn-quiz.correct {
    --hue: var(--hue-correct);
}

.btn-quiz.incorrect {
    --hue: var(--hue-incorrect);
}
/*Wrapper for begin and nex buttons*/
.controls-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Class to hide and show buttons dynamically through quiz*/
.hidden {
    display:none;
}
/*Styling for 404 page*/
._404-outer {
    display: flex;
    align-items:center;
    justify-content: center;
    height:90vh;
}

._404-container{
    width: 600px;
    max-width: 80%;
}

._404-container p, ._404-container h2 {
    padding: 50px 0;
    font-size: 1.5rem;
}

/* Contact form */

.contact-outer {
    display:none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100vw;
    flex-direction: column;
    position:fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0,.05),rgba(0,0,0,.5)), url(../images/contact-bk.webp);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}
/*Contact modal header*/
#contact-form-outer h1 {
    font-family: 'Star Trek Enterprise Future';
    color: var(--off-yellow);
    font-size: 50px;
    text-decoration: underline;
}
/*Contact form inner text and image container*/
#contact-inner {
    display:flex;
    align-items: center;
    justify-content: center;
}

/*Container for communicator image*/
#contact-img-container {
    background-image: url(../images/star-trek-communicator.webp);
    width:300px;
    background-position: center center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    height:500px;
    background-size: contain;
}
/*Modal contact form*/
#contact-form {
    width:280px;
    font-size: 1.5rem;
}
/*Button styling contact form*/
#contact-launch {
    --hue: var(--hue-footer-icons);
    background-color:rgb(var(--hue));
    border:none;
}

#contact-launch:hover {
    background-color:grey;
    color: var(--off-yellow);
}
/*Hide communicator on small screens*/
@media (max-width: 768px) {
    #contact-img-container {
        display: none;
}
}
/*Flex container for buttons*/
.form-buttons{
    display:flex;
    justify-content: space-between;
}

.btn.contact-btn{
    --hue: var(--off-yellow);
    background-color: var(--hue);
    border: 1px solid black;
    width: 200px;
    display: inline-block;
}

.btn.contact-btn.close {
    width:50px;
}

.btn.contact-btn:hover {
    color: rgba(var(--hue-neutral),.99);
    border: 1px solid black;
    font-weight: bold;
}

.btn.contact-btn.ack {
    max-width: 30%;
    margin:0 35%;
}
/*Hide iframe on small devices*/
#iframe-holder {
    display:none;
}
/*To change content for desktop devices */
@media (min-width:769px){
    #earth-holder {
        display:none;
    }
    #iframe-holder {
        display:flex;
    }
}
/*Main section*/
#about-main-container {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 50px 10px;
}

#about-main-content {
    width:560px;
    max-width:80%;
}
/*To wrap iframe and planets*/
.sol-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0;
}

/* Wrap images to size properly*/
.planet {
    flex: 1 1 40%;  /*grow | shrink | basis */
    display:relative;
}
/*To size images to be resposive on resize*/
.planet img {
    display: block;
    width: 100%;
    height: auto; /* maintain aspect ratio*/
    margin: auto; /*optional centering of image*/
}
/*used to reload modal after modal popup interrupt*/
#reload {
    width: 600px;
    height:500px
}

/* To hide text reference on large screen about*/
@media (min-width: 768px) {
    .large {
        display:none;
    }
}
/*Overide bootstrap styles*/
.modal-content {
    background-color: rgb(46, 44, 44);
}
